.home-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 3.7rem;
    font-style: bold;
}

.image-container{
    position: relative;
    height: 180px;
    width: 180px;
}

.image-container, .home-img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
